<div class="col">
  <h2>Clientes</h2>
  <button class="btn btn-primary" (click)="addCustomer()">Inserir Cliente</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome Cliente</th>
        <th>Limite Credito</th>
        <th>Risco</th>
        <th>Juros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td class="hidden">{{ customer.id }}</td>
        <td>{{ customer.nomeCliente }}</td>
        <td>{{ customer.limiteCredito }}</td>
        <td>{{ customer.risco }}</td>
        <td>{{ customer.juros }}</td>
        
        <td>
          <button class="btn btn-success" (click)="editCustomer(customer)">
            Editar
          </button>
          <button class="btn btn-danger" (click)="deleteCustomer(customer)">
           Apagar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>